<div class="optic-container">
    <div class="optic-header">
        <img  src="assets/images/logo.png"  alt="Logo" class="logo">
        <h2>Solicitud de Atención</h2>
    </div>
    <form [formGroup]="opticForm" class="optic-form">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <i class="fas fa-user"></i>
                    <input id="nombre" type="text" formControlName="nombre" placeholder="Nombre" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <i class="fas fa-phone"></i>
                    <input id="telefono" type="text" formControlName="telefono" placeholder="Teléfono" class="form-control">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <i class="fas fa-calendar"></i>
                    <input id="fecha" type="date" formControlName="fecha" placeholder="Fecha de cita" class="form-control">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <i class="fas fa-clock"></i>
                    <input id="hora" type="time" formControlName="hora" placeholder="Hora de cita" class="form-control">
                </div>
            </div>
        </div>
        <div class="form-group">
            <i class="fas fa-sticky-note"></i>
            <textarea id="descripcion" formControlName="descripcion" placeholder="Descripción de la solicitud" class="form-control"></textarea>
        </div>
        <button type="submit" class="btn btn-primary" (click)="onSubmit()">Enviar Solicitud</button>
    </form>
    
</div>
